---
http_interactions:
- request:
    method: get
    uri: https://api.tito.io/v3/<TITO_ACCOUNT>/test-event-1/activities?page%5Bnumber%5D=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=<TITO_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"234e7aa20fda390fa23f9d16d29e1497"
    body:
      encoding: UTF-8
      string: '{"activities":[{"_type":"activity","id":1096234,"capacity":null,"date":null,"description":"An
        introductory workshop","kind":"public_automatic","start_time":null,"end_time":null,"start_at":null,"end_at":null,"name":"Workshop:
        Getting Started","allocation_count":0,"sold_out":false,"any_live_chosen_tickets":null}],"meta":{"api_version":"3.1.0","expandable":{"activity_groups":false,"activity_group_ids":false,"questions":false,"question_ids":false,"question_slugs":false,"releases":false,"release_ids":false,"release_slugs":false,"upgrades":false,"venue":false},"current_page":1,"next_page":null,"prev_page":null,"total_pages":1,"total_count":1,"per_page":100,"overall_total":1,"sort_options":{"Name
        A-Z":{"attr":"name","direction":"asc","default":true},"Name Z-A":{"attr":"name","direction":"desc"}},"filter_options":{"kinds":[{"label":"Automatic","value":"public_automatic"},{"label":"Internal","value":"private_automatic"}],"sections":{"kinds":{"label":"Kind","open":true}},"states":[]}}}'
  recorded_at: Sat, 28 Mar 2026 21:56:16 GMT
recorded_with: VCR 6.4.0
