---
http_interactions:
- request:
    method: post
    uri: https://api.tito.io/v3/<TITO_ACCOUNT>/test-event-1/activities
    body:
      encoding: UTF-8
      string: '{"activity":{"name":"Integration Test Activity","description":"Created
        by integration test"}}'
    headers:
      Authorization:
      - Token token=<TITO_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.tito.io/<TITO_ACCOUNT>/test-event-1/activities/1096235
      Etag:
      - W/"9b722564ddb995082556ca289637fa68"
    body:
      encoding: UTF-8
      string: '{"activity":{"_type":"activity","id":1096235,"capacity":null,"date":null,"description":"Created
        by integration test","kind":"public_automatic","start_time":null,"end_time":null,"start_at":null,"end_at":null,"name":"Integration
        Test Activity","allocation_count":0,"sold_out":false,"any_live_chosen_tickets":null},"meta":{"api_version":"3.1.0"}}'
  recorded_at: Sat, 28 Mar 2026 21:56:15 GMT
- request:
    method: delete
    uri: https://api.tito.io/v3/<TITO_ACCOUNT>/test-event-1/activities/1096235
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=<TITO_TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 28 Mar 2026 21:56:15 GMT
recorded_with: VCR 6.4.0
