---
http_interactions:
- request:
    method: post
    uri: https://api.tito.io/v3/<TITO_ACCOUNT>/test-event-1/checkin_lists
    body:
      encoding: UTF-8
      string: '{"checkin_list":{"title":"Integration Test Checkin"}}'
    headers:
      Authorization:
      - Token token=<TITO_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.tito.io/checkin_lists/chk_ppuSJKYDeNBp5utSSEGY8Eg?account_id=<TITO_ACCOUNT>&event_id=test-event-1
      Etag:
      - W/"277ab0b5112c87477c8fcf601b01c436"
    body:
      encoding: UTF-8
      string: '{"checkin_list":{"_type":"checkin_list","id":1033322,"checked_in_count":0,"expires_at":null,"expired":false,"open":true,"qr_code_url":"https://qr.tito.io/checkin_lists/chk_ppuSJKYDeNBp5utSSEGY8Eg","show_company_name":true,"show_email":true,"show_phone_number":true,"hide_unpaid":false,"slug":"chk_ppuSJKYDeNBp5utSSEGY8Eg","state":"open","title":"Integration
        Test Checkin","tickets_count":1,"created_at":"2026-03-28T17:56:22.000-04:00","updated_at":"2026-03-28T17:56:22.000-04:00","checked_in_percent":0.0,"web_checkin_url":"https://checkin.tito.io/checkin_lists/chk_ppuSJKYDeNBp5utSSEGY8Eg"},"meta":{"api_version":"3.1.0"}}'
  recorded_at: Sat, 28 Mar 2026 21:56:22 GMT
- request:
    method: delete
    uri: https://api.tito.io/v3/<TITO_ACCOUNT>/test-event-1/checkin_lists/chk_ppuSJKYDeNBp5utSSEGY8Eg
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=<TITO_TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 28 Mar 2026 21:56:23 GMT
recorded_with: VCR 6.4.0
