---
http_interactions:
- request:
    method: post
    uri: https://api.tito.io/v3/<TITO_ACCOUNT>/test-event-1/discount_codes
    body:
      encoding: UTF-8
      string: '{"discount_code":{"code":"INTEGRATIONTEST","type":"PercentOffDiscountCode","value":"0.25e2"}}'
    headers:
      Authorization:
      - Token token=<TITO_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.tito.io/<TITO_ACCOUNT>/test-event-1/discount_codes/9285710
      Etag:
      - W/"b95748f6bda9a37bb8aa7a6826fdfe25"
    body:
      encoding: UTF-8
      string: '{"discount_code":{"_type":"discount_code","id":9285710,"code":"INTEGRATIONTEST","description":"Sell
        for 25.0% less. Unlimited. Applies to 0 tickets. Not used yet.","description_for_organizer":null,"end_at":null,"max_quantity_per_release":null,"min_quantity_per_release":null,"only_show_attached":false,"quantity":null,"quantity_used":0,"registrations_count":0,"reveal_secret":false,"show_public_releases":"all","show_secret_releases":"none","share_url":"https://ti.to/<TITO_ACCOUNT>/test-event-1/discount/INTEGRATIONTEST","start_at":null,"state":"current","tickets_count":0,"type":"PercentOffDiscountCode","value":"25.0","block_registrations_if_not_applicable":false,"disable_for_degressive":false},"meta":{"api_version":"3.1.0"}}'
  recorded_at: Sat, 28 Mar 2026 21:56:25 GMT
- request:
    method: delete
    uri: https://api.tito.io/v3/<TITO_ACCOUNT>/test-event-1/discount_codes/9285710
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=<TITO_TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 28 Mar 2026 21:56:25 GMT
recorded_with: VCR 6.4.0
