---
http_interactions:
- request:
    method: get
    uri: https://api.tito.io/v3/<TITO_ACCOUNT>/test-event-1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=<TITO_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"173a7f1f67b0a585d1d94a3e0fefb325"
    body:
      encoding: UTF-8
      string: '{"event":{"discount_codes_count":1,"_type":"event","id":1158813,"created_at":"2026-02-07T18:48:50.000-05:00","updated_at":"2026-03-28T17:56:18.000-04:00","title":"Test
        Event 1","description":"Not a real event","banner":{"url":null,"thumb":{"url":null}},"banner_url":"https://do3z7e6uuakno.cloudfront.net/uploads/event/banner/1158813/","currency":"USD","default_locale":"en","from_email":"\"Test
        Event 1\" \u003csupport@tito.io\u003e","reply_to_email":"joshua@<TITO_ACCOUNT>.com","archived":false,"live":true,"test_mode":false,"locales":["en"],"location":"Leftward","logo":{"url":null,"thumb":{"url":null},"display":{"url":null}},"private":false,"slug":"test-event-1","account_id":1033172,"start_date":null,"end_date":null,"start_time":null,"end_time":null,"start_at":null,"end_at":null,"timezone":"UTC","date_or_range":"","days_until":null,"days_since":null,"happening_in":"unknown","day_number":null,"security_token":"-81jlTxbg77Txxjkmv7S7g","metadata":null,"url":"https://ti.to/<TITO_ACCOUNT>/test-event-1","setup":true,"show_discount_code_field":false,"anonymisation_state":"not_requested","deletion_state":"not_requested","releases_count":1,"account_slug":"<TITO_ACCOUNT>","consent":{"required":false},"chosen_homepage":"dashboard","admin_control_token":"migx9tfon8yj6yfc","registrations_count":1,"tickets_count":1,"additional_info":null,"additional_receipt_currency":null,"always_show_ticket_success_message":false,"after_registration_closed_url":null,"after_registration_complete_url":null,"after_registration_redirect_after_questions":true,"allow_browser_locale":true,"any_live_sales":false,"any_live_tickets":true,"banner_alt_text":null,"cancel_unpaid_invoices_after_due_date":false,"credit_card_payment_option_id":null,"credit_card_payment_option_gateway_type":null,"custom_background_color":null,"custom_heading_highlight_color":null,"custom_complete_ticket_label":null,"custom_css":null,"custom_email_css":null,"custom_email_signature":null,"custom_overlay_css":null,"custom_receipt_label":null,"custom_registration_unavailable_message":null,"custom_registration_confirmation_subject":null,"custom_ticket_added_subject":null,"custom_ticket_gifted_subject":null,"custom_ticket_updated_subject":null,"custom_success_html":null,"custom_ticket_message":null,"custom_view_ticket_label":null,"default_billing_country":null,"display_date":null,"display_title":null,"email_address":"joshua@<TITO_ACCOUNT>.com","email_allow_list":null,"email_block_list":null,"email_image":{"url":null,"thumb":{"url":null},"display":{"url":null}},"email_invoice":true,"facebook_share_message":null,"gross_income":0.0,"hide_tax_types":false,"homepage_url":"","invoice_change_cutoff_days":90,"invoice_date_set_when_paid":false,"invoice_payment_due_at":null,"invoice_extra":null,"invoice_form_message":null,"invoice_issue_method":"100","invoice_number_format":null,"invoice_number_offset":null,"invoice_payment_instructions":null,"invoice_purchase_message":null,"invoice_tax_details":null,"italian_checkout":false,"last_invoice_number":"0000001","lock_changes_when_ticket_not_complete":"1","payment_instructions":null,"payment_option_required":false,"paypal_payment_option_id":null,"paypal_express_blocked":false,"paypal_platform_blocked":null,"map_latitude":null,"map_link":null,"map_longitude":null,"map_zoomlevel":null,"max_tickets_per_person":null,"max_tickets_per_registration":null,"meta_robots":"","min_tickets_per_person":null,"min_tickets_per_registration":null,"net_income":0.0,"next_invoice_number":"0000002","organization_address":null,"organization_name":null,"passbook_icon":null,"receipt_footer_message":null,"register_button_label":null,"register_interest_form_label":null,"requires_billing_address":false,"requires_company_name":false,"requires_job_title":false,"requires_country":false,"requires_vat_number":false,"resell_attendee_voided_tickets":true,"save_utm_as_metadata":"0","secret_password":null,"send_registration_confirmation_email":true,"send_ticket_gifted_email":true,"send_ticket_updated_email":true,"send_unpaid_invoice_reminder_emails":true,"send_waitlist_confirmation_email":true,"share_link":null,"shareable_image":{"url":null,"thumb":{"url":null},"display":{"url":null}},"show_additional_info":true,"show_banner":true,"show_company_field":false,"show_date":true,"show_description":true,"show_email_address":true,"show_invoice_company_name_first":false,"show_invoice_purchase_order_number_field":true,"show_job_title_field":false,"show_location":true,"show_logo":true,"show_next_tickets":false,"show_order_summary":false,"show_past_tickets":true,"show_phone_number_field":false,"show_prices_ex_tax":false,"show_purchase_order_number_field":true,"show_register_interest_form":false,"show_register_interest_form_tickets_not_on_sale":false,"show_register_interest_form_tickets_on_sale":false,"show_sharing_links":true,"show_tickets_remaining":false,"show_tickets_remaining_threshold":null,"show_title":true,"show_venue":true,"snoozing_disabled":false,"social_sharing_description":null,"social_sharing_title":null,"store_customer":null,"stripe":null,"stripe_statement_descriptor":null,"team_signoff":null,"theme":"mcdonagh","ticket_cancelling_enabled":false,"ticket_unique_emails":false,"ticket_downloads_enabled":true,"ticket_fail_message":null,"ticket_gifting_disabled":false,"ticket_gifting_disabled_at":null,"ticket_gifting_disabled_now":false,"ticket_gifting_disabled_message":null,"ticket_qr_codes_enabled":true,"ticket_vcards_enabled":false,"ticket_success_message":null,"ticket_wallet_pass_enabled":true,"tickets_form_label":null,"typekit_id":null,"twitter_share_message":null,"users_count":1},"meta":{"api_version":"3.1.0","expandable":{"credit_card_payment_options":false,"currency_options":false,"paypal_payment_options":false,"releases":false,"release_ids":false,"release_slugs":false}}}'
  recorded_at: Sat, 28 Mar 2026 21:56:26 GMT
recorded_with: VCR 6.4.0
