---
http_interactions:
- request:
    method: post
    uri: https://api.tito.io/v3/<TITO_ACCOUNT>/test-event-1/interested_users
    body:
      encoding: UTF-8
      string: '{"interested_user":{"email":"integration-test@example.com","name":"Integration
        Tester"}}'
    headers:
      Authorization:
      - Token token=<TITO_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.tito.io/<TITO_ACCOUNT>/test-event-1/interested_users/391754
      Etag:
      - W/"9bfdcebd17ba13f2812462a94bd341cf"
    body:
      encoding: UTF-8
      string: '{"interested_user":{"_type":"interested_user","id":391754,"name":"Integration
        Tester","email":"integration-test@example.com","created_at":"2026-03-28T17:56:04.000-04:00","updated_at":"2026-03-28T17:56:04.000-04:00"},"meta":{"api_version":"3.1.0"}}'
  recorded_at: Sat, 28 Mar 2026 21:56:04 GMT
- request:
    method: delete
    uri: https://api.tito.io/v3/<TITO_ACCOUNT>/test-event-1/interested_users/391754
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=<TITO_TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 28 Mar 2026 21:56:05 GMT
recorded_with: VCR 6.4.0
