---
http_interactions:
- request:
    method: post
    uri: https://api.tito.io/v3/<TITO_ACCOUNT>/test-event-1/opt_ins
    body:
      encoding: UTF-8
      string: '{"opt_in":{"name":"Integration Test Opt In","description":"Created
        by integration test"}}'
    headers:
      Authorization:
      - Token token=<TITO_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.tito.io/<TITO_ACCOUNT>/test-event-1/opt_ins/integration-test-opt-in
      Etag:
      - W/"e7d56732e4159f37998423d38abafb65"
    body:
      encoding: UTF-8
      string: '{"opt_in":{"_type":"opt_in","id":918,"slug":"integration-test-opt-in","name":"Integration
        Test Opt In","description":"Created by integration test","acceptance_count":0,"created_at":"2026-03-28T17:56:13.000-04:00","updated_at":"2026-03-28T17:56:13.000-04:00"},"meta":{"api_version":"3.1.0"}}'
  recorded_at: Sat, 28 Mar 2026 21:56:13 GMT
- request:
    method: delete
    uri: https://api.tito.io/v3/<TITO_ACCOUNT>/test-event-1/opt_ins/integration-test-opt-in
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=<TITO_TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 28 Mar 2026 21:56:14 GMT
recorded_with: VCR 6.4.0
