---
http_interactions:
- request:
    method: get
    uri: https://api.tito.io/v3/<TITO_ACCOUNT>/test-event-1/questions?page%5Bnumber%5D=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=<TITO_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2515e1b8cbfc4c260af60c935caddb2b"
    body:
      encoding: UTF-8
      string: '{"questions":[{"_type":"question","id":1218751,"answers_count":0,"description":null,"title":"What
        is your t-shirt size?","field_type":"Select","include_free_text_field":false,"options":["S","M","L","XL"],"options_free_text_field":null,"required":false,"slug":"what-is-your-t-shirt-size","tickets_count":0,"deletable":true,"public_optional_activity_ids":[],"created_at":"2026-03-28T17:43:30.000-04:00","updated_at":"2026-03-28T17:43:30.000-04:00"}],"meta":{"api_version":"3.1.0","expandable":{"activities":false,"incoming_question_trigger_ids":false,"outgoing_question_trigger_ids":false,"releases":false},"current_page":1,"next_page":null,"prev_page":null,"total_pages":1,"total_count":1,"per_page":100,"overall_total":1,"sort_options":{"Position
        on tickets":{"attr":"position","direction":"asc","default":true},"Question
        Title, A-Z":{"attr":"title","direction":"asc"},"Question Title, Z-A":{"attr":"title","direction":"desc"}},"filter_options":{"sections":{"states":{"label":"Status","open":false}},"states":[]}}}'
  recorded_at: Sat, 28 Mar 2026 21:56:12 GMT
recorded_with: VCR 6.4.0
