---
http_interactions:
- request:
    method: post
    uri: https://api.tito.io/v3/<TITO_ACCOUNT>/test-event-1/questions
    body:
      encoding: UTF-8
      string: '{"question":{"title":"Integration test question?","field_type":"Text","required":false}}'
    headers:
      Authorization:
      - Token token=<TITO_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.tito.io/<TITO_ACCOUNT>/test-event-1/questions/integration-test-question
      Etag:
      - W/"a845767eaf9a15cbae1b0320fdd39365"
    body:
      encoding: UTF-8
      string: '{"question":{"_type":"question","id":1218752,"answers_count":0,"description":null,"title":"Integration
        test question?","field_type":"Text","include_free_text_field":false,"options":[],"options_free_text_field":null,"required":false,"slug":"integration-test-question","tickets_count":0,"deletable":true,"public_optional_activity_ids":[],"created_at":"2026-03-28T17:56:10.000-04:00","updated_at":"2026-03-28T17:56:10.000-04:00"},"meta":{"api_version":"3.1.0"}}'
  recorded_at: Sat, 28 Mar 2026 21:56:10 GMT
- request:
    method: patch
    uri: https://api.tito.io/v3/<TITO_ACCOUNT>/test-event-1/questions/integration-test-question
    body:
      encoding: UTF-8
      string: '{"question":{"title":"Updated question?"}}'
    headers:
      Authorization:
      - Token token=<TITO_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.tito.io/<TITO_ACCOUNT>/test-event-1/questions/integration-test-question
      Etag:
      - W/"70ee6f5855f02eff7ec5ff10e71eab09"
    body:
      encoding: UTF-8
      string: '{"question":{"_type":"question","id":1218752,"answers_count":0,"description":null,"title":"Updated
        question?","field_type":"Text","include_free_text_field":false,"options":[],"options_free_text_field":null,"required":false,"slug":"integration-test-question","tickets_count":0,"deletable":true,"public_optional_activity_ids":[],"created_at":"2026-03-28T17:56:10.000-04:00","updated_at":"2026-03-28T17:56:10.000-04:00"},"meta":{"api_version":"3.1.0"}}'
  recorded_at: Sat, 28 Mar 2026 21:56:10 GMT
- request:
    method: delete
    uri: https://api.tito.io/v3/<TITO_ACCOUNT>/test-event-1/questions/integration-test-question
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=<TITO_TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 28 Mar 2026 21:56:11 GMT
recorded_with: VCR 6.4.0
