---
http_interactions:
- request:
    method: post
    uri: https://api.tito.io/v3/<TITO_ACCOUNT>/test-event-1/releases
    body:
      encoding: UTF-8
      string: '{"release":{"title":"Integration Test Release"}}'
    headers:
      Authorization:
      - Token token=<TITO_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.tito.io/<TITO_ACCOUNT>/test-event-1/releases/integration-test-release
      Etag:
      - W/"72acb4fc064fb2adfed23a922fae29ef"
    body:
      encoding: UTF-8
      string: '{"release":{"_type":"release","id":1627299,"event_id":1158813,"created_at":"2026-03-28T17:56:07.000-04:00","updated_at":"2026-03-28T17:56:07.000-04:00","slug":"integration-test-release","title":"Integration
        Test Release","description":null,"archived":false,"card_payments":true,"default_quantity":0,"donation":false,"enable_super_combo_summary":true,"end_at":null,"has_success_message":false,"has_fail_message":false,"invoice":false,"max_donation":null,"max_tickets_per_person":null,"metadata":null,"min_tickets_per_person":null,"min_donation":null,"not_a_ticket":false,"show_qr_code":true,"only_issue_combos":false,"pricing_type":"free","payment_type":"free","position":0,"price":null,"price_ex_tax":0.0,"tax_exclusive":false,"price_degressive":null,"price_degressive_list":[],"quantity":null,"request_company_name":null,"request_job_title":false,"request_vat_number":null,"require_vat_number":false,"require_billing_address":null,"require_credit_card_for_sold_out_waiting_list":false,"require_email":true,"require_name":false,"secret":false,"show_price":true,"suggested_donation":null,"lock_changes":null,"state_name":"off_sale","start_at":null,"waiting_list_enabled_during_locked":false,"waiting_list_enabled_during_sold_out":false,"share_url":"https://ti.to/<TITO_ACCOUNT>/test-event-1/with/integration-test-release","tickets_count":0,"locked":false,"waiting_list":false,"sold_out":false,"off_sale":true,"expired":false,"upcoming":false,"allocatable":false,"changes_locked":false,"deletable":true,"display_price":0.0,"gross_income":null,"full_price_tickets_count":0,"free_tickets_count":0,"discounted_tickets_count":0,"voided_tickets_count":0,"pending_waiting_list":false,"show_company_name":false,"require_company_name":false,"show_job_title":false,"require_job_title":false,"show_vat_number":false,"show_discount_code_field_here":null,"show_phone_number":false,"tax_description":null,"warnings":{}},"meta":{"api_version":"3.1.0"}}'
  recorded_at: Sat, 28 Mar 2026 21:56:07 GMT
- request:
    method: delete
    uri: https://api.tito.io/v3/<TITO_ACCOUNT>/test-event-1/releases/integration-test-release
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=<TITO_TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 28 Mar 2026 21:56:08 GMT
recorded_with: VCR 6.4.0
