---
http_interactions:
- request:
    method: post
    uri: https://api.tito.io/v3/<TITO_ACCOUNT>/test-event-1/rsvp_lists
    body:
      encoding: UTF-8
      string: '{"rsvp_list":{"title":"Integration Test RSVP"}}'
    headers:
      Authorization:
      - Token token=<TITO_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.tito.io/<TITO_ACCOUNT>/test-event-1/rsvp_lists/rsvp_list_pA9hYn36ttyp19H1lTx9kWA
      Etag:
      - W/"c4ca78a02094851ae1b999c93b722e0c"
    body:
      encoding: UTF-8
      string: '{"rsvp_list":{"_type":"rsvp_list","id":2117,"slug":"rsvp_list_pA9hYn36ttyp19H1lTx9kWA","created_at":"2026-03-28T17:56:18.000-04:00","updated_at":"2026-03-28T17:56:18.000-04:00","title":"Integration
        Test RSVP","redeemed_count":0,"maybes_count":0,"nos_count":0,"release_invitations_count":0,"message_slug":null},"meta":{"api_version":"3.1.0"}}'
  recorded_at: Sat, 28 Mar 2026 21:56:18 GMT
- request:
    method: delete
    uri: https://api.tito.io/v3/<TITO_ACCOUNT>/test-event-1/rsvp_lists/rsvp_list_pA9hYn36ttyp19H1lTx9kWA
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=<TITO_TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 28 Mar 2026 21:56:18 GMT
recorded_with: VCR 6.4.0
