---
http_interactions:
- request:
    method: get
    uri: https://api.tito.io/v3/<TITO_ACCOUNT>/test-event-1/rsvp_lists?page%5Bnumber%5D=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=<TITO_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"04234aeda220794b5af28dd05eaf3d30"
    body:
      encoding: UTF-8
      string: '{"rsvp_lists":[{"_type":"rsvp_list","id":2116,"slug":"rsvp_list_pn2nVe0S5NdMVsdDlKqbddw","created_at":"2026-03-28T17:43:51.000-04:00","updated_at":"2026-03-28T17:43:51.000-04:00","title":"VIP
        Invitations","redeemed_count":0,"maybes_count":0,"nos_count":0,"release_invitations_count":1,"message_slug":null}],"meta":{"api_version":"3.1.0","expandable":{},"current_page":1,"next_page":null,"prev_page":null,"total_pages":1,"total_count":1,"per_page":100,"overall_total":1,"sort_options":{"Created
        time, earliest first":{"attr":"created_at","direction":"asc"},"Created time,
        latest first":{"attr":"created_at","direction":"desc","default":true},"Title
        A-Z":{"attr":"title","direction":"asc"},"Title Z-A":{"attr":"title","direction":"desc"}},"filter_options":{"sections":{"states":{"label":"Status","open":false}},"states":[]}}}'
  recorded_at: Sat, 28 Mar 2026 21:56:20 GMT
recorded_with: VCR 6.4.0
