---
http_interactions:
- request:
    method: get
    uri: https://api.tito.io/v3/<TITO_ACCOUNT>/test-event-1/waitlisted_people?page%5Bnumber%5D=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=<TITO_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b4d4c925d125e34cbe920c0d4391d283"
    body:
      encoding: UTF-8
      string: '{"waitlisted_people":[],"meta":{"api_version":"3.1.0","expandable":null,"current_page":1,"next_page":null,"prev_page":null,"total_pages":0,"total_count":0,"per_page":100,"overall_total":0,"resources_hidden_by_default_count":0,"search_states_hidden_by_default":["redeemed","rejected","expired"],"sort_options":{"Name
        A-Z":{"attr":"name","direction":"asc"},"Name Z-A":{"attr":"name","direction":"desc"},"Join
        date, earliest first":{"attr":"created_at","direction":"asc"},"Join date,
        newest first":{"attr":"created_at","direction":"desc","default":true}},"filter_options":{"release_slugs":[],"sections":{"states":{"label":"Status","open":false},"release_slugs":{"label":"Tickets","open":false}},"states":[{"label":"Joined","value":"joined"},{"label":"Offered","value":"offered"},{"label":"Redeemed","value":"redeemed"},{"label":"Rejected","value":"rejected"},{"label":"Expired","value":"expired"}],"selected_states":["joined","offered"]}}}'
  recorded_at: Sat, 28 Mar 2026 21:56:24 GMT
recorded_with: VCR 6.4.0
