---
http_interactions:
- request:
    method: post
    uri: https://api.tito.io/v3/<TITO_ACCOUNT>/test-event-1/webhook_endpoints
    body:
      encoding: UTF-8
      string: '{"webhook_endpoint":{"url":"https://example.com/webhooks/integration-test","included_triggers":["ticket.completed"]}}'
    headers:
      Authorization:
      - Token token=<TITO_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.tito.io/<TITO_ACCOUNT>/test-event-1/settings/webhook_endpoints
      Etag:
      - W/"a8cc22d1b3ffb52a617b4d66993bb93a"
    body:
      encoding: UTF-8
      string: '{"webhook_endpoint":{"_type":"webhook_endpoint","id":49964,"status":"active","url":"https://example.com/webhooks/integration-test","included_triggers":["ticket.completed"],"custom_data":null,"deprecated":false},"meta":{"api_version":"3.1.0"}}'
  recorded_at: Sat, 28 Mar 2026 21:56:06 GMT
- request:
    method: delete
    uri: https://api.tito.io/v3/<TITO_ACCOUNT>/test-event-1/webhook_endpoints/49964
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=<TITO_TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 28 Mar 2026 21:56:06 GMT
recorded_with: VCR 6.4.0
